.container {
  background-color: white;
}
.content {
  padding: 8px;
}

.content p {
  font-size: 12px;
  color: #1b1c21;
  font-weight: 400;
  margin: 8px 0px;
}

.rotiTitle {
  font-weight: 400;
  font-size: 16px;
  color: #101115;
  font-style: normal;
}

.img {
  width: 100%;
}
