@font-face {
  font-family: 'Gilroy-Regular'; /*Can be any text*/
  src: local('Gilroy-Regular'), url('./assets/fonts/Gilroy-Regular.ttf') format('truetype');
  font-display: swap;
}

html,
body {
  margin: 0;
  height: 100%;
  background-color: #f7f8fa;
  color: #000000;
  box-sizing: border-box;
}
a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: Gilroy-Regular;
}
